.table__list-item {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 11px;
}

.table__list-item > div {
  width: 25%;
}

.table__list-item .input-group {
  max-width: 130px;
  margin: 0 auto;
}